$primary-color: #FFF;
$secondary-color: #64706d;
$third-color: #333d3c;
$fourth-color: black;
$fifth-color: #caf2f1;
$six-color: #bab8ac;
$seventh-color: #868782;
* {
    box-sizing: border-box;
    font-family: ff-good-headline-web-pro-ext;
    animation: 1s ease-out 0s 1 slideInFromLeft;
}

body {
    background-color: $fifth-color;
    margin: 0;
    padding: 0;
}

[class*="col"] {
    padding: 0px;
    margin: 0;
    min-height: 1px;
}

img {
    max-width: 100%;
    height: auto;
}

@keyframes slideInFromLeft {
    0% {
        transform: translateX(-100%);
    }
    100% {
        transform: translateX(0);
    }
}

/* --- HEADER --- */

header {
    .pasek-gora {
        display: flex;
        flex-wrap: wrap;
        .logo {
            width: 123px;
            margin-top: 35px;
            margin-left: 3.66vw;
        }
        .kula-up {
            margin-left: 16.98vw;
            margin-top: 0;
        }
        .in {
            color: $secondary-color;
            margin-left: 6.22vw;
            margin-top: 55px;
            border-radius: 6px;
            &:hover {
                color: #8A3AB9;
                background-color: #CD486B;
            }
        }
        .fb {
            margin-top: 55px;
            margin-left: 0.73vw;
            color: $secondary-color;
            font-size: 10px;
            padding: 1px 2px 0 5px;
            border: 1px solid $secondary-color;
            border-radius: 3px;
            &:hover {
                color: $primary-color;
                background-color: #3B5998;
            }
        }
        .languages {
            margin-top: 48px;
            margin-left: 38.80vw;
            button {
                background-color: $fifth-color;
                font-size: 17px;
                font-weight: 600;
                border: 0;
                padding: 0;
                transition: .2s;
                &:last-child {
                    margin-left: 0.58vw;
                }
                &:hover {
                    color: $six-color;
                }
            }
        }
    }
    .image {
        .image-up {
            margin-left: 27.09vw;
        }
        .image-kula {
            margin-left: 32.94vw;
            margin-top: 20px;
        }
    }
    .header-text {
        .kula-cien {
            margin-top: 420px;
        }
        .center {
            .napis-gora {
                font-size: 24px;
                text-transform: uppercase;
                letter-spacing: 2px;
                text-align: center;
                .napis-gora-text {
                    position: absolute;
                    z-index: 1;
                    margin: 10px auto 0 auto;
                    width: 100%;
                    margin-top: -110px;
                }
                .napis-gora-image {
                    position: relative;
                    margin-left: -150px;
                }
            }
            .napis-srodek {
                text-align: center;
                margin-top: -40px;
                position: relative;
            }
            .napis-tlo {
                position: relative;
                text-align: center;
                margin-left: 1vw;
            }
            @keyframes buttonPulse {
                0% {
                    transform: scale(1);
                }
                50% {
                    transform: scale(1.05);
                }
                100% {
                    transform: scale(1);
                }
            }
            .napis-button {
                position: absolute;
                width: 97%;
                text-align: center;
                margin-top: 40px;
                margin-left: 1.2vw;
                z-index: 1;
                animation: buttonPulse 1s infinite;
                .button {
                    border: 2px solid $primary-color;
                    font-size: 24px;
                    letter-spacing: 2px;
                    color: $primary-color;
                    text-decoration: none;
                    text-transform: uppercase;
                    padding: 5px 20px;
                    transition: .2s;
                    &:hover {
                        background-color: $primary-color;
                        color: $six-color;
                    }
                }
            }
        }
    }
    .menu-col {
        .menu {
            float: right;
            background-color: $third-color;
            width: 30px;
            height: 25px;
            margin-top: 150px;
            padding: 5px 8px;
            &:hover {
                background-color: $six-color;
            }
            div {
                width: 15px;
                height: 1px;
                background-color: $primary-color;
                margin: 3px 0;
            }
        }
    }
}

@media(min-width: 992px) and (max-width: 1199px) {
    header {
        .pasek-gora {
            .languages {
                margin-left: 31.80vw;
            }
        }
    }
}

@media(min-width: 768px) and (max-width: 991px) {
    header {
        .pasek-gora {
            .in {
                font-size: 30px;
            }
            .fb {
                margin-top: 57.5px;
                margin-left: 3vw;
                font-size: 21.5px;
                padding: 0 3px 0 9px;
                border: 2px solid $secondary-color;
            }
            .languages {
                margin-left: 15.80vw;
                margin-top: 60px;
            }
        }
        .header-text {
            margin-top: 30px;
            .kula-cien {
                display: none;
            }
            .center {
                .napis-button {
                    margin-left: 1.6vw;
                    .button {
                        font-size: 20px;
                    }
                }
                .napis-tlo {
                    text-align: center;
                }
            }
        }
        .menu-col {
            margin-top: -700px;
            .menu {
                float: right;
            }
        }
    }
}

@media(max-width: 767px) {
    header {
        margin: 0 5px 0 5px;
        .pasek-gora {
            display: flex;
            justify-content: center;
            .logo {
                width: 123px;
                margin-top: 35px;
                margin-left: 3.66vw;
            }
            .kula-up {
                display: none;
            }
            .in {
                margin-right: 22px;
                font-size: 30px;
            }
            .fb {
                font-size: 21.5px;
                padding: 0 3px 0 9px;
                border: 2px solid $third-color;
                margin-top: 58px;
            }
            .languages {
                margin-top: 55px;
                margin-left: 8.80vw;
                button {
                    background-color: $fifth-color;
                    font-size: 17px;
                    font-weight: 600;
                    border: 0;
                    padding: 0;
                    &:last-child {
                        margin-left: 0.58vw;
                    }
                }
            }
        }
        .image {
            .image-up {
                display: none;
            }
            .image-kula {
                display: none;
            }
        }
        .header-text {
            .kula-cien {
                display: none;
            }
            .center {
                .napis-gora {
                    font-size: 24px;
                    text-transform: uppercase;
                    letter-spacing: 2px;
                    text-align: center;
                    padding-top: 40px;
                }
                .napis-button {
                    margin-top: 22px;
                    margin-left: 1.3vw;
                    .button {
                        font-size: 18px;
                        padding: 5px 20px;
                    }
                }
            }
        }
        .menu-col {
            .menu {
                float: right;
                width: 30px;
                height: 25px;
                margin-top: -80vw;
                padding: 5px 8px;
                div {
                    width: 15px;
                    height: 1px;
                    margin: 3px 0;
                }
            }
        }
    }
}

/* --- SECTION OPIS --- */

.opis {
    .opis-kula-duza {
        float: right;
        margin: 120px 20px 0 20px;
    }
    .opis-logo {
        .logo-rise {
            margin-top: 18px;
            margin-left: 0.73vw;
        }
        span {
            margin-left: 1.46vw;
            margin-bottom: 200px;
        }
    }
    .opis-logo-2 {
        .kula-mala2 {
            margin-top: 60px;
            margin-left: 20.4978vw;
        }
        .logo-sansara {
            margin-top: 10px;
            margin-left: 0.7321vw;
        }
    }
    .opis-container {
        .opis-agencja {
            p {
                margin-top: 50px;
                margin-left: 4vw;
                font-size: 16px;
                letter-spacing: 0px;
                color: $seventh-color;
                width: 400px;
                text-align: justify;
            }
            p:nth-child(2) {
                margin-top: 85px;
            }
        }
        .opis-stanowisko {
            margin-top: 40px;
            margin-left: 4vw;
            margin-right: 0;
            .stanowisko {
                font-size: 14px;
                color: $seventh-color;
                text-transform: uppercase;
                letter-spacing: 0.15vw;
            }
            .dyrektor {
                letter-spacing: 0.15vw;
                color: $third-color;
                text-transform: uppercase;
                font-weight: bold;
                font-size: 24px;
                margin-left: 3px;
            }
            .linia-1 {
                content: "";
                margin: 0 3px;
                padding-right: 40px;
                border-bottom: 1px solid $fourth-color;
                font-size: 0.5px;
            }
            .linia-2 {
                content: "";
                margin: 0 3px;
                padding-right: 100px;
                border-bottom: 1px solid $fourth-color;
                font-size: 5px;
            }
            .button {
                background-color: $six-color;
                padding: 1px 5px 2px 5px;
                border: 0;
                text-transform: uppercase;
                letter-spacing: 2px;
                color: $primary-color;
                font-size: 24px;
                font-weight: 800;
                &:hover {
                    background-color: $primary-color;
                    color: $six-color;
                    text-decoration: none;
                }
            }
        }
    }
}

@media(min-width: 768px) and (max-width: 991px) {
    .opis {
        .opis-kula-duza {
            float: none;
            margin-top: 0;
            margin-left: 30vw;
        }
        .opis-logo {
            float: left;
            .logo-rise {
                margin-top: 18px;
                margin-left: 10vw;
            }
            span {
                margin-left: 20px;
                margin-bottom: 200px;
            }
        }
        .opis-logo-2 {
            float: right;
            .kula-mala2 {
                margin-top: 0;
            }
        }
        .opis-container {
            float: right;
            .opis-agencja {
                p {
                    padding-top: 40px;
                    margin: 0 auto;
                    font-size: 34px;
                    width: 100%;
                }
                p:nth-child(2) {
                    margin-top: 55px;
                }
            }
            .opis-stanowisko {
                margin-top: 40px;
                text-align: center;
                margin-right: 0;
                .stanowisko {
                    font-size: 28px;
                }
                .dyrektor {
                    font-size: 30px;
                }
                .button {
                    font-size: 30px;
                }
            }
        }
    }
}

@media(max-width: 767px) {
    .opis {
        text-align: center;
        margin: 0 10px 0 10px;
        .opis-kula-duza {
            float: right;
            margin-top: 10px;
        }
        .opis-logo {
            .logo-rise {
                margin: 10px;
            }
        }
        .opis-logo-2 {
            .kula-mala2 {
                margin-top: 60px;
                margin-left: 280px;
            }
            .logo-sansara {
                margin-top: 10px;
                margin-left: 10px;
            }
        }
        .opis-container {
            .opis-agencja {
                p {
                    margin: 30px 10px 30px 2px;
                    font-size: 21px;
                    width: 100%;
                }
                p:nth-child(2) {
                    margin-top: 30px;
                }
            }
            .opis-stanowisko {
                margin: 20px 10px;
                display: flex;
                flex-direction: column;
                justify-content: center;
                .stanowisko {
                    font-size: 20px;
                }
                .linia-1 {
                    display: none;
                }
                .linia-2 {
                    display: none;
                }
                .button {
                    width: 23%;
                    margin: 0 auto;
                }
            }
        }
    }
}

/* --- SECTION MISJA --- */

.misja {
    padding-top: 120px;
    .container-fluid {
        padding: 0;
        .misja-container {
            display: flex;
            .text-container {
                display: flex;
                margin-left: 5.86vw;
                background-color: #eaf0e4;
                width: 850px;
                height: 210px;
                .misja-text {
                    width: 49%;
                    text-align: right;
                    margin: 2.9283vw 1.0981vw 0 2.5622vw;
                    font-size: 16px;
                    color: #99a39b;
                }
                .misja-border {
                    border-left: 1px solid $fourth-color;
                    height: 57%;
                    margin-top: 48px;
                    width: 2%;
                }
                .misja-wizja {
                    width: 49%;
                    margin: 5.1245vw 0 0 2.1962vw;
                    p {
                        font-weight: bold;
                        text-transform: uppercase;
                        letter-spacing: 2px;
                        line-height: 1;
                        margin: 0;
                        padding: 0;
                    }
                    p:first-child {
                        font-size: 35px;
                    }
                    p:last-child {
                        font-size: 20px;
                    }
                    img {
                        margin-top: 65px;
                        margin-left: 8.7848vw;
                    }
                    .misja-button {
                        margin: -205px 0 0 13.18vw;
                        animation: buttonPulse 1s infinite;
                    }
                }
            }
        }
    }
}

@media(min-width: 768px) and (max-width: 991px) {
    .misja {
        padding-top: 40px;
        .container-fluid {
            .obraz-misja-1 {
                display: none;
            }
            .misja-container {
                .text-container {
                    display: flex;
                    flex-direction: column;
                    margin: 10px;
                    width: 100%;
                    height: auto;
                    .misja-text {
                        width: 100%;
                        text-align: center;
                        margin: 0;
                        padding: 30px;
                        font-size: 30px;
                    }
                    .misja-border {
                        border-left: none;
                        border-bottom: 1px solid $fourth-color;
                        margin: 10px auto;
                        width: 50%;
                    }
                    .misja-wizja {
                        width: 100%;
                        padding: 0;
                        margin: 30px 0 0 0;
                        text-align: center;
                        .misja-wizja-serce {
                            img {
                                vertical-align: bottom;
                                margin-bottom: -10px;
                                margin-left: 80px;
                            }
                        }
                        .misja-button {
                            margin: -220px 0 0 48.70vw;
                            position: absolute;
                            img {
                                width: 50%;
                                height: 50%;
                            }
                        }
                        p:first-child {
                            font-size: 50px;
                        }
                        p:nth-child(2) {
                            font-size: 40px;
                        }
                    }
                }
            }
        }
    }
}

@media(max-width: 767px) {
    .misja {
        margin: 0 10px 0 10px;
        padding-top: 40px;
        .container-fluid {
            .obraz-misja-1 {
                display: none;
            }
            .misja-container {
                display: flex;
                .text-container {
                    display: flex;
                    flex-direction: column;
                    margin: 10px;
                    width: 850px;
                    height: auto;
                    .misja-text {
                        width: 100%;
                        text-align: center;
                        margin: 0;
                        padding: 30px;
                        font-size: 21px;
                    }
                    .misja-border {
                        border-left: none;
                        border-bottom: 1px solid $fourth-color;
                        margin: 10px auto;
                        width: 50%;
                    }
                    .misja-wizja {
                        width: 100%;
                        padding: 0;
                        margin: 0;
                        text-align: center;
                        img {
                            vertical-align: bottom;
                            margin-top: 40px;
                            margin-bottom: -20px;
                            margin-left: 80px;
                        }
                        .misja-button {
                            margin: -110px 0 0 48.70vw;
                            position: absolute;
                        }
                    }
                }
            }
        }
    }
}

/* --- SECTION TIME-TO-UNPACK --- */

.time-to-unpack {
    h1 {
        text-align: center;
        font-size: 60px;
        text-transform: uppercase;
        font-weight: bold;
        letter-spacing: 1.76vw;
        span {
            font-size: 14px;
            vertical-align: 31px;
            color: $seventh-color;
            letter-spacing: 0;
        }
    }
    p {
        font-size: 16px;
        margin-top: 60px;
        color: $seventh-color;
        text-align: center;
    }
    .ttu-container {
        .content-image {
            img:first-child {
                margin-left: 16.84vw;
                margin-top: 110px;
            }
            img:nth-child(2) {
                margin-left: 15.88vw;
                margin-top: 40px;
            }
        }
        .ttu-content {
            .ttu-text {
                margin-top: 167px;
                margin-left: 5.12vw;
                h4 {
                    margin-bottom: 10px;
                    font-weight: 900;
                    letter-spacing: 2px;
                    text-transform: uppercase;
                    color: $third-color;
                }
                .border-ttu {
                    border-bottom: 1px solid $fourth-color;
                    width: 45px;
                }
                p {
                    margin-top: 10px;
                    text-align: left;
                    font-weight: 800px;
                    width: 230px;
                    line-height: 18px;
                }
            }
            .content-image-2 {
                float: right;
                margin-right: 9.37vw;
                margin-top: 110px;
            }
        }
        .ttu-content-2 {
            .content-2-image {
                img {
                    float: right;
                    margin-top: 150px;
                }
            }
            .ttu-text {
                margin-top: 70px;
                padding-left: 13.18vw;
                h4 {
                    margin-bottom: 10px;
                    font-weight: 900;
                    letter-spacing: 0.15vw;
                    text-transform: uppercase;
                    color: $third-color;
                }
                .border-ttu {
                    border-bottom: 1px solid $fourth-color;
                    width: 45px;
                }
                p {
                    margin-top: 10px;
                    text-align: left;
                    line-height: 18px;
                }
            }
            .content-2-image-2 {
                img:first-child {
                    margin-top: -50px;
                    position: absolute;
                    z-index: 1;
                }
                img:last-child {
                    margin-top: 110px;
                    margin-left: 2.93vw;
                }
            }
        }
        .ttu-content-3 {
            .content-3-image {
                img {
                    margin-left: 19.76vw;
                }
            }
            .ttu-text {
                margin-top: 70px;
                margin-left: -1.46vw;
                h4 {
                    margin-bottom: 10px;
                    font-weight: 900;
                    letter-spacing: 2px;
                    text-transform: uppercase;
                    color: $third-color;
                }
                .border-ttu {
                    border-bottom: 1px solid $fourth-color;
                    width: 45px;
                }
                p {
                    margin-top: 10px;
                    text-align: left;
                    width: 190px;
                    line-height: 18px;
                }
            }
            .content-3-image-2 {
                img:first-child {
                    margin-top: -12px;
                    margin-left: -8.78vw;
                    position: relative;
                }
                img:last-child {
                    margin-top: 28px;
                    float: right;
                    margin-right: 25.62vw
                }
            }
        }
        .ttu-content-4 {
            .content-4-image {
                img:nth-child(2) {
                    margin-top: 200px;
                    margin-left: 4.76vw;
                }
                img:nth-child(3) {
                    margin-top: 270px;
                    margin-left: 1.46vw;
                }
            }
            .ttu-text-content {
                display: flex;
                margin-left: 14.64vw;
                img {
                    margin: 0 auto;
                    margin-top: 90px;
                }
                .ttu-text {
                    margin-top: 70px;
                    padding-left: 1.83vw;
                    h4 {
                        margin-bottom: 10px;
                        font-weight: 900;
                        letter-spacing: 2px;
                        text-transform: uppercase;
                        color: $third-color;
                    }
                    .border-ttu {
                        border-bottom: 1px solid $fourth-color;
                        width: 45px;
                    }
                    p {
                        margin-top: 10px;
                        text-align: left;
                        width: 190px;
                        line-height: 18px;
                    }
                }
            }
            .content-4-image-2 {
                float: right;
            }
        }
        .ttu-content-5 {
            .content-5-image {
                img {
                    margin-top: 110px;
                    margin-left: 10.47vw;
                }
            }
            .ttu-text {
                margin-top: 127px;
                margin-left: 7.32vw;
                h4 {
                    margin-bottom: 10px;
                    font-weight: 900;
                    letter-spacing: 0.15vw;
                    text-transform: uppercase;
                    color: $third-color;
                }
                .border-ttu {
                    border-bottom: 1px solid $fourth-color;
                    width: 45px;
                }
                p {
                    margin-top: 10px;
                    text-align: left;
                    width: 262px;
                    line-height: 18px;
                }
            }
            .content-5-image-2 {
                img:first-child {
                    margin-top: -0.88vw;
                    margin-left: 3.66vw;
                }
                img:last-child {
                    margin-top: 125px;
                    float: right;
                    margin-right: 16.11vw;
                }
            }
        }
        .ttu-content-6 {
            .content-6-image {
                img {
                    float: right;
                    margin-top: 200px;
                }
            }
            .content-6-image-2 {
                img:first-child {
                    float: right;
                    margin-right: -11.713vw;
                }
            }
            .ttu-text {
                float: right;
                margin-top: -50px;
                margin-right: 8.56vw;
                h4 {
                    margin-bottom: 10px;
                    font-weight: 900;
                    letter-spacing: 2px;
                    text-transform: uppercase;
                    color: $third-color;
                }
                .border-ttu {
                    border-bottom: 1px solid $fourth-color;
                    width: 45px;
                }
                p {
                    margin-top: 10px;
                    text-align: left;
                    line-height: 18px;
                    width: 230px;
                }
            }
        }
    }
}

@media(min-width: 992px) and (max-width: 1199px) {
    .time-to-unpack {
        .ttu-container {
            .ttu-content {
                .ttu-text {
                    margin-left: 10.12vw;
                }
            }
            .ttu-content-5 {
                .ttu-text {
                    margin-left: 10.32vw;
                }
            }
            .ttu-content-6 {
                .ttu-text {
                    margin-right: 6.56vw;
                }
            }
        }
    }
}

@media(min-width: 768px) and (max-width: 991px) {
    .time-to-unpack {
        margin-top: 50px;
        h1 {
            span {
                font-size: 25px;
                vertical-align: 23px;
            }
        }
        p {
            font-size: 24px;
        }
        .ttu-container {
            .content-image {
                img:first-child {
                    margin-left: 16.84vw;
                    margin-top: 110px;
                }
                img:nth-child(2) {
                    margin-left: 15.88vw;
                    margin-top: 40px;
                }
            }
            .ttu-content {
                .ttu-text {
                    margin-top: 67px;
                    margin: 0;
                    text-align: center;
                    h4 {
                        margin-bottom: 10px;
                        font-size: 35px;
                    }
                    .border-ttu {
                        width: 65px;
                        margin: 0 auto;
                    }
                    p {
                        text-align: center;
                        width: 100%;
                        line-height: 1.2;
                        font-size: 30px;
                    }
                }
                .content-image-2 {
                    float: right;
                    margin-right: 9.37vw;
                    margin-top: 0;
                }
            }
            .ttu-content-2 {
                .content-2-image {
                    img {
                        float: right;
                        margin-top: 150px;
                        margin-right: 30vw;
                    }
                }
                .ttu-text {
                    margin-top: 70px;
                    padding: 0;
                    h4 {
                        font-size: 35px;
                        text-align: center;
                    }
                    .border-ttu {
                        width: 65px;
                        margin: 0 auto;
                    }
                    p {
                        margin-top: 10px;
                        text-align: center;
                        line-height: 1.2;
                        font-size: 30px;
                    }
                }
                .content-2-image-2 {
                    img:first-child {
                        margin-top: -470px;
                        margin-left: 25vw;
                        position: absolute;
                        z-index: 1;
                    }
                    img:last-child {
                        margin-top: 0;
                        margin-left: 32.93vw;
                    }
                }
            }
            .ttu-content-3 {
                .content-3-image {
                    img {
                        margin-left: 40.76vw;
                    }
                }
                .ttu-text {
                    margin-top: 30px;
                    margin-left: 0;
                    h4 {
                        font-size: 35px;
                        text-align: center;
                    }
                    .border-ttu {
                        width: 65px;
                        margin: 0 auto;
                    }
                    p {
                        margin-top: 10px;
                        text-align: center;
                        width: 100%;
                        line-height: 1.2;
                        font-size: 30px;
                    }
                }
                .content-3-image-2 {
                    img:first-child {
                        margin-top: -1030px;
                        margin-left: 9.78vw;
                        position: relative;
                    }
                }
            }
            .ttu-content-4 {
                .content-4-image {
                    img:nth-child(1) {
                        display: none;
                    }
                    img:nth-child(2) {
                        margin: 20px 0 0 20vw;
                    }
                    img:nth-child(3) {
                        margin: 27px 0 0 1vw;
                    }
                }
                .ttu-text-content {
                    display: flex;
                    flex-direction: column;
                    margin: 10px;
                    img {
                        margin-top: -50px;
                    }
                    .ttu-text {
                        margin-top: 70px;
                        padding-left: 0;
                        h4 {
                            font-size: 35px;
                            text-align: center;
                        }
                        .border-ttu {
                            width: 65px;
                            margin: 0 auto;
                        }
                        p {
                            margin-top: 10px;
                            text-align: center;
                            width: 100%;
                            line-height: 1.2;
                            font-size: 30px;
                        }
                    }
                }
                .content-4-image-2 {
                    float: right;
                }
            }
            .ttu-content-5 {
                .content-5-image {
                    width: 100%;
                    img {
                        margin: -130px auto 0 20vw;
                    }
                }
                .ttu-text {
                    margin: 27px 5px 0 5px;
                    padding: 0;
                    h4 {
                        font-size: 35px;
                        text-align: center;
                    }
                    .border-ttu {
                        width: 65px;
                        margin: 0 auto;
                    }
                    p {
                        margin-top: 10px;
                        text-align: center;
                        width: 100%;
                        line-height: 1.2;
                        font-size: 30px;
                    }
                }
            }
            .ttu-content-6 {
                .content-6-image {
                    img {
                        float: right;
                        margin-top: 20px;
                    }
                }
                .content-6-image-2 {
                    img:first-child {
                        float: left;
                        margin: -200px 0 0 30vw
                    }
                }
                .ttu-text {
                    float: none;
                    text-align: center;
                    margin-top: 20px;
                    margin-right: 0;
                    h4 {
                        font-size: 35px;
                    }
                    .border-ttu {
                        width: 65px;
                        margin: 0 auto;
                    }
                    p {
                        margin-top: 10px;
                        text-align: center;
                        line-height: 1.2;
                        width: 100%;
                        font-size: 30px;
                    }
                }
            }
        }
    }
}

@media(max-width: 767px) {
    .time-to-unpack {
        text-align: center;
        margin: 50px 10px 0 10px;
        h1 {
            font-size: 40px;
            letter-spacing: 12px;
            span {
                font-size: 14px;
                vertical-align: 18px;
                color: $seventh-color;
                letter-spacing: 0;
            }
        }
        p {
            font-size: 22px;
            margin-top: 60px;
        }
        .ttu-container {
            .content-image {
                img:first-child {
                    margin: 20px 10px;
                }
                img:nth-child(2) {
                    margin: -40px 10px 20px 10px;
                }
            }
            .ttu-content {
                margin-top: 40px;
                .ttu-text {
                    margin: 10px 10px;
                    h4 {
                        margin-bottom: 10px;
                        font-size: 24px;
                    }
                    .border-ttu {
                        margin: 0 auto;
                    }
                    p {
                        margin-top: 10px;
                        text-align: center;
                        width: 100%;
                    }
                }
                .content-image-2 {
                    display: none;
                }
            }
            .ttu-content-2 {
                display: flex;
                flex-direction: column-reverse;
                margin-top: 40px;
                .content-2-image {
                    img {
                        display: none;
                    }
                }
                .ttu-text {
                    margin: 10px 10px;
                    padding: 0;
                    h4 {
                        margin-bottom: 10px;
                        font-size: 24px;
                    }
                    .border-ttu {
                        border-bottom: 1px solid $fourth-color;
                        width: 45px;
                        margin: 0 auto;
                    }
                    p {
                        margin-top: 10px;
                        text-align: center;
                    }
                }
                .content-2-image-2 {
                    img:first-child {
                        margin-top: 10px;
                        position: relative;
                        z-index: 0;
                    }
                    img:last-child {
                        display: none;
                    }
                }
            }
            .ttu-content-3 {
                margin-top: 40px;
                .content-3-image {
                    img {
                        margin: 0 10px;
                    }
                }
                .ttu-text {
                    margin: 20px 10px;
                    padding: 0;
                    h4 {
                        margin-bottom: 10px;
                        font-size: 24px;
                    }
                    .border-ttu {
                        border-bottom: 1px solid $fourth-color;
                        width: 45px;
                        margin: 0 auto;
                    }
                    p {
                        margin-top: 10px;
                        text-align: center;
                        width: 100%;
                    }
                }
                .content-3-image-2 {
                    img:first-child {
                        display: none;
                    }
                    img:last-child {
                        display: none;
                    }
                }
            }
            .ttu-content-4 {
                margin-top: 40px;
                .content-4-image {
                    img:first-child {
                        display: none;
                    }
                    img:nth-child(2) {
                        display: none;
                    }
                    img:nth-child(3) {
                        display: none;
                    }
                }
                .ttu-text-content {
                    display: flex;
                    flex-direction: column;
                    margin: 10px 10px;
                    img {
                        margin-top: 0;
                    }
                    .ttu-text {
                        margin-top: 10px;
                        padding: 0;
                        h4 {
                            margin-bottom: 10px;
                            font-size: 24px;
                        }
                        .border-ttu {
                            border-bottom: 1px solid $fourth-color;
                            width: 45px;
                            margin: 0 auto;
                        }
                        p {
                            margin-top: 10px;
                            text-align: center;
                            width: 100%;
                        }
                    }
                }
                .content-4-image-2 {
                    display: none;
                }
            }
            .ttu-content-5 {
                margin-top: 40px;
                .content-5-image {
                    img {
                        margin: 0 0;
                    }
                }
                .ttu-text {
                    margin: 10px 10px;
                    h4 {
                        margin-bottom: 10px;
                        font-size: 24px;
                    }
                    .border-ttu {
                        border-bottom: 1px solid $fourth-color;
                        width: 45px;
                        margin: 0 auto;
                    }
                    p {
                        margin-top: 10px;
                        text-align: center;
                        width: 100%;
                    }
                }
                .content-5-image-2 {
                    img:first-child {
                        display: none;
                    }
                    img:last-child {
                        display: none;
                    }
                }
            }
            .ttu-content-6 {
                margin-top: 40px;
                .content-6-image {
                    img {
                        display: none;
                    }
                }
                .content-6-image-2 {
                    img:first-child {
                        float: none;
                        margin: 10px 10px
                    }
                }
                .ttu-text {
                    float: none;
                    margin: 10px 10px;
                    h4 {
                        margin-bottom: 10px;
                        font-size: 24px;
                    }
                    .border-ttu {
                        border-bottom: 1px solid $fourth-color;
                        width: 45px;
                        margin: 0 auto;
                    }
                    p {
                        margin-top: 10px;
                        text-align: center;
                        width: 100%;
                    }
                }
            }
        }
    }
}

/* --- SECTION REALIZACJE-OFERTA --- */

.realizacje-oferty {
    margin-top: 134px;
    .container-image {
        margin-top: 278px;
        margin-left: 4.54vw;
    }
    .realizacje {
        max-width: 680px;
        width: 100%;
        height: 420px;
        background-color: #eaf1e3;
        text-align: center;
        h3 {
            text-transform: uppercase;
            padding-top: 100px;
            padding-left: 1.17vw;
            font-weight: 800;
            font-size: 48px;
            letter-spacing: 5px;
            color: $third-color;
            span {
                font-size: 14px;
                vertical-align: 22px;
                margin-left: 0.366vw;
                color: #b9bab0;
                padding-top: 110px;
                letter-spacing: 0;
            }
        }
        p {
            font-size: 16px;
            letter-spacing: 2px;
            text-transform: uppercase;
            color: $seventh-color;
            padding-top: 40px;
        }
        .btn-realizacje {
            padding-top: 60px;
            .button {
                font-size: 24px;
                letter-spacing: 2px;
                color: $primary-color;
                background-color: #b9b7ab;
                padding: 5px 28px;
                text-transform: uppercase;
                &:hover {
                    background-color: $primary-color;
                    color: #b9b7ab;
                    text-decoration: none;
                }
            }
        }
        .realizacje-image {
            float: left;
            margin-left: 5.12vw;
            margin-top: 30px;
        }
    }
    .oferta {
        max-width: 530px;
        width: 100%;
        height: 330px;
        background-color: #86847d;
        text-align: center;
        margin-top: 300px;
        margin-left: -7.32vw;
        h3 {
            text-transform: uppercase;
            padding-top: 70px;
            padding-left: 1.17vw;
            font-weight: 800;
            font-size: 48px;
            letter-spacing: 5px;
            color: $primary-color;
            span {
                font-size: 14px;
                vertical-align: 22px;
                margin-left: 0.366vw;
                color: #b9bab0;
                padding-top: 110px;
                letter-spacing: 0;
            }
        }
        p {
            font-size: 16px;
            letter-spacing: 2px;
            text-transform: uppercase;
            color: $primary-color;
            padding-top: 40px;
        }
        .btn-oferta {
            padding-top: 30px;
            .button {
                font-size: 24px;
                letter-spacing: 2px;
                color: #596a68;
                background-color: #cbf2f0;
                padding: 5px 28px;
                text-transform: uppercase;
                &:hover {
                    color: #cbf2f0;
                    background-color: #596a68;
                    text-decoration: none;
                }
            }
        }
    }
    .realizacje-kropka {
        img:first-child {
            float: left;
            margin-top: 130px;
            margin-left: -15.37vw;
        }
        img:last-child {
            margin-top: 540px;
            margin-left: -1.83vw;
        }
    }
}

@media(min-width: 768px) and (max-width: 991px) {
    .realizacje-oferty {
        margin-top: 14px;
        .container-image {
            margin-top: 28px;
            margin-left: 13.54vw;
        }
        .realizacje {
            margin: 0 auto;
            p {
                font-size: 25px;
            }
            .btn-realizacje {
                padding-top: 60px;
                .button {
                    font-size: 28px;
                }
            }
            .realizacje-image {
                margin-top: 2px;
            }
        }
        .oferta {
            margin: 0 auto;
            p {
                font-size: 25px;
            }
            .btn-oferta {
                padding-top: 30px;
                .button {
                    font-size: 24px;
                }
            }
        }
        .realizacje-kropka {
            img:first-child {
                display: none;
            }
            img:last-child {
                display: none;
            }
        }
    }
}

@media(max-width: 767px) {
    .realizacje-oferty {
        margin-top: 100px;
        .container-image {
            display: none;
        }
        .realizacje {
            margin: 5px auto;
            width: 90%;
            p {
                font-size: 20px;
            }
        }
        .oferta {
            margin: 5px auto;
            width: 90%;
            height: 380px;
            p {
                font-size: 20px;
                padding: 20px 10px;
            }
        }
        .realizacje-kropka {
            img:first-child {
                display: none;
            }
            img:last-child {
                display: none;
            }
        }
    }
}

/* SECTION KONTAKT */

.kontakt {
    margin-top: 155px;
    .kontakt-form {
        position: absolute;
        width: 320px;
        height: 450px;
        background-color: $primary-color;
        margin-left: 19.77vw;
        text-align: center;
        padding: 0 35px;
        z-index: 1;
        opacity: 0.5;
        h3 {
            padding-top: 20px;
            text-transform: uppercase;
            font-weight: 800;
            letter-spacing: 9px;
        }
        .form {
            padding-top: 30px;
            .form-group {
                position: relative;
                &+.form-group {
                    margin-top: 30px;
                }
                .send-button {
                    background-color: $six-color;
                    width: 60px;
                    margin: 10px auto;
                    &:hover {
                        background-color: $primary-color;
                        border: 1px solid $six-color;
                    }
                    .button {
                        color: $primary-color;
                        text-transform: uppercase;
                        letter-spacing: 2px;
                        font-size: 18px;
                        font-weight: 800;
                        &:hover {
                            color: $six-color;
                            text-decoration: none;
                        }
                    }
                }
            }
            .form-label {
                color: $seventh-color;
                font-size: 17px;
                width: 100%;
                position: absolute;
                top: 10px;
                background-color: 0;
                z-index: 10;
                transition: transform 150ms ease-out, font-size 150ms ease-out;
            }
            .focused .form-label {
                transform: translateY(-125%);
                font-size: .75em;
            }
            .form-input {
                color: $seventh-color;
                position: relative;
                background-color: 0;
                padding: 12px 0 5px 0;
                width: 100%;
                outline: 0;
                border: 0;
                border-bottom: 1px solid $fourth-color;
                box-shadow: 0 1px 0 0 $primary-color;
                transition: box-shadow 150ms ease-out;
                &:focus {
                    box-shadow: 0 2px 0 0 $primary-color;
                }
            }
            textarea {
                margin-top: 10px;
                resize: none;
                background: 0 0;
                border: 0;
                border-bottom: 1px solid $fourth-color;
                box-shadow: 0 1px 0 0 $primary-color;
                line-height: 1.1rem;
                outline: none;
                padding: 1rem 0;
                width: 100%;
                &:focus {
                    box-shadow: 0 2px 0 0 red;
                }
            }
            .textarea-label {
                font-size: 17px;
                position: absolute;
                width: 100%;
                color: $seventh-color;
            }
        }
    }
    .kontakt-image {
        float: right;
        vertical-align: top;
        margin-top: 170px;
        margin-right: -16.25vw;
        position: relative;
        width: 60%;
    }
    .kontakt-text {
        text-align: right;
        margin-right: 19.03vw;
        margin-top: 70px;
        h2 {
            font-size: 40px;
            margin-right: -1.2vw;
            letter-spacing: 5px;
            color: $third-color;
            text-transform: uppercase;
            font-weight: 800;
            span {
                font-size: 14px;
                vertical-align: 17px;
                margin-left: 0.366vw;
                letter-spacing: 0;
            }
        }
        .kontakt-text-p {
            margin-top: 60px;
            p:first-child,
            p:nth-child(3) {
                font-size: 24px;
                letter-spacing: 2px;
                color: $third-color;
                font-weight: 800;
            }
            p:nth-child(2),
            p:nth-child(4) {
                font-size: 16px;
                letter-spacing: 0px;
                line-height: 18px;
                color: $seventh-color;
            }
        }
    }
    .kontakt-text-image {
        float: right;
        margin-top: -220px;
    }
    .kontakt-background {
        .kontakt-image-kula {
            img {
                padding-top: 180px;
                padding-left: 4.98vw;
            }
        }
        .kontakt-image-2 {
            img:first-child {
                margin-left: 3.6603vw;
                margin-top: 35px;
                position: relative;
                max-width: 95%;
            }
            img:last-child {
                position: absolute;
                margin-left: -22.62vw;
                margin-top: 27.0864vw;
                z-index: 1;
            }
        }
    }
}

@media(min-width: 992px) and (max-width: 1199px) {
    .kontakt {
        .kontakt-background {
            .kontakt-image-kula {
                img {
                    padding-top: 180px;
                    padding-left: 68px
                }
            }
            .kontakt-image-2 {
                img:first-child {
                    margin-left: 3.6603vw;
                    margin-top: 35px;
                    position: relative;
                    max-width: 90%;
                }
                img:last-child {
                    position: absolute;
                    margin-left: -25.62vw;
                    margin-top: 25vw;
                    z-index: 1;
                }
            }
        }
    }
}

@media(min-width: 768px) and (max-width: 991px) {
    .kontakt {
        margin-top: 50px;
        text-align: center;
        .kontakt-form {
            margin-left: 31vw;
        }
        .kontakt-image {
            float: none;
            text-align: center;
            vertical-align: top;
            margin-top: 170px;
            margin-right: -40vw;
            position: relative;
        }
        .kontakt-text {
            text-align: center;
            margin-right: 0;
            margin-top: 210px;
            h2 {
                margin-right: 0;
            }
            .kontakt-text-p {
                margin-top: 60px;
                p:first-child,
                p:nth-child(3) {
                    font-size: 30px;
                    letter-spacing: 2px;
                }
                p:nth-child(2),
                p:nth-child(4) {
                    font-size: 24px;
                    line-height: 23px;
                }
            }
        }
        .kontakt-text-image {
            float: right;
            margin-top: -220px;
        }
        .kontakt-background {
            .kontakt-image-kula {
                img {
                    padding-top: 20px;
                    padding-left: 0;
                }
            }
            .kontakt-image-2 {
                img:last-child {
                    position: absolute;
                    margin-left: -25.62vw;
                    margin-top: 31vw;
                    z-index: 1;
                }
            }
        }
    }
}

@media(max-width: 767px) {
    .kontakt {
        text-align: center;
        margin: 40px 10px 0 10px;
        .kontakt-form {
            position: relative;
            width: 320px;
            height: 450px;
            background-color: $primary-color;
            margin: 0 auto;
            text-align: center;
            padding: 0 35px;
            opacity: 0.5;
        }
        .kontakt-image {
            float: none;
            margin-top: -40px;
            margin-right: 0;
        }
        .kontakt-text {
            text-align: center;
            margin: 10px 10px;
            h2 {
                margin-right: 0;
            }
            .kontakt-text-p {
                p:nth-child(2),
                p:nth-child(4) {
                    font-size: 20px;
                }
            }
        }
        .kontakt-text-image {
            display: none;
        }
        .kontakt-background {
            .kontakt-image-kula {
                img {
                    padding: 10px 10px
                }
            }
            .kontakt-image-2 {
                img:first-child {
                    margin: 0;
                    position: relative;
                    max-width: 100%;
                    width: 100%;
                }
                img:last-child {
                    display: none;
                }
            }
        }
    }
}

/* --- FOOTER --- */

footer {
    width: 100%;
    position: relative;
    margin-top: -90px;
    height: auto;
    background-color: $primary-color;
    .footer-content {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        padding: 20px 2.20vw;
        .footer-logo-1 {
            margin-right: 4.3924vw;
        }
        .social-media {
            display: flex;
            margin-right: 12.2987vw;
            .in {
                margin-right: 12px;
                font-size: 18px;
                color: $third-color;
                transition: .3s;
                border-radius: 6px;
                &:hover {
                    color: #8A3AB9;
                    background-color: #CD486B;
                }
            }
            .fb {
                font-size: 13.5px;
                padding: 1px 2px 0 5px;
                color: $third-color;
                border: 1px solid $third-color;
                border-radius: 3px;
                transition: .3s;
                &:hover {
                    color: $primary-color;
                    background-color: #3B5998;
                }
            }
        }
        .footer-sections {
            margin-right: 1.32vw;
            .button {
                margin-right: 4.39vw;
                color: $third-color;
                font-size: 16px;
                letter-spacing: 2px;
                font-weight: 800;
                text-transform: uppercase;
                text-decoration: none;
                transition: .3s;
                &:hover {
                    color: $six-color;
                }
            }
        }
        .footer-logo-2 {
            margin: 5px auto;
        }
    }
}

@media(min-width: 768px) and (max-width: 991px) {
    footer {
        height: auto;
        .footer-content {
            .footer-logo-1 {
                margin-right: 0;
            }
            .social-media {
                display: flex;
                margin: 0 auto;
            }
            .footer-sections {
                margin-right: 0;
                margin-top: 15px;
            }
            .footer-logo-2 {
                margin-top: 25px;
                margin: 0 auto;
            }
        }
    }
}

@media(max-width: 767px) {
    footer {
        position: absolute;
        margin-top: -28px;
        height: auto;
        text-align: center;
        .footer-content {
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            justify-content: center;
            padding: 17px 30px;
            .footer-logo-1 {
                margin: 20px;
            }
            .social-media {
                display: flex;
                margin: 10px;
                .in {
                    margin-right: 22px;
                    font-size: 30px;
                }
                .fb {
                    font-size: 21.5px;
                    padding: 0 3px 0 9px;
                    margin-top: 3px;
                    border: 2px solid $third-color;
                }
            }
            .footer-sections {
                margin: 10px;
                .button {
                    margin: 10px;
                    color: $third-color;
                    font-size: 16px;
                    letter-spacing: 2px;
                    font-weight: 800;
                    text-transform: uppercase;
                    text-decoration: none;
                    transition: .3s;
                    &:hover {
                        color: $six-color;
                    }
                }
            }
        }
    }
}